@import "tailwindcss";

@layer base {
  :root {
    --background: #F8FAFC;
    --foreground: #0F172A;
    --primary: #6366F1;
    --text-primary: #1E293B;
    --text-secondary: #475569;
  }
}

html,
body {
  background-color: var(--background);
  color: var(--text-primary);
  scroll-behavior: smooth;
  /* Light mode only */
  color-scheme: light;
}